<div style="text-align: center">
  <mat-toolbar>CSV Table Component</mat-toolbar>
  <div>
    <mat-list>
      <mat-list-item *ngFor="let option of options">
        <mat-icon mat-list-icon>table_chart</mat-icon>
        <p> {{ option }} </p>
      </mat-list-item>
    </mat-list>
    <!--    <form class="tables-autocomplete">-->
    <!--      <mat-form-field class="autocomplete-full-width">-->
    <!--        <input type="text"-->
    <!--               placeholder="Select Table"-->
    <!--               aria-label="Number"-->
    <!--               matInput-->
    <!--               [formControl]="availableTablesControl"-->
    <!--               [matAutocomplete]="auto">-->
    <!--        <mat-autocomplete #auto="matAutocomplete">-->
    <!--          <mat-option *ngFor="let option of options" [value]="option">-->
    <!--            {{option}}-->
    <!--          </mat-option>-->
    <!--        </mat-autocomplete>-->
    <!--      </mat-form-field>-->
    <!--    </form>-->
    <button mat-raised-button color="primary" (click)="fetchAvailableData()">Load</button>
  </div>
</div>
