<div style="background: darkcyan">
  <button mat-button [matMenuTriggerFor]="menu" style="margin-left: 2%;color: white">
    Menu
  </button>
  <mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item>Available files</button>
  </mat-menu>
</div>

<div style="background: brown; color: white">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>

  </mat-toolbar>
</div>

<button mat-flat-button color="primary">Click me!</button>*
